body {
  background-color: #e3bcef;
  display: flex;
  justify-content: center;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 15px 8px #bb85cb;
  margin-top: 30vh;
}

.subWrapper {
  text-align: center;
}
.count {
  font-size: 50px;
  font-weight: bold;
  color: #4415cf;
  font-family: Roboto;
  padding-top: 0px;
}
.prefix {
  padding-bottom: 60px;
}
.button {
  margin-left: 10px;
}
